.DS_Store
.DS_Store?
target
.idea
dflmngr.iml
.settings
.project
.classpath
.factorypath
reports
/.apt_generated/
/.apt_generated_tests/
.vscode/launch.json
.vscode/settings.json
.attach_pid*
.env
.claude/