<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%p %c %m%n</pattern>
		</encoder>
	</appender>

	<appender name="MSG-ONLY-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%m%n</pattern>
		</encoder>
	</appender>	

    <logger name="stdout-logger" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>

	<logger name="msg-only-stdout-logger" level="INFO">
        <appender-ref ref="MSG-ONLY-STDOUT" />
    </logger>

	<root level="INFO">
	</root>
</configuration>